@import 'src/styles/variables';

.container {
  margin: auto;
  padding: 24px;
}

.themes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 16px;
}

.theme-card {
  display: flex;
  flex-direction: column;
  background: $color-grey-second;
  border-radius: $radius-sm;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.theme-card h2 {
  margin: 0 0 8px;
}

.theme-card p {
  font-size: 14px;
  color: $color-grey-third;
}

button {
  width: fit-content;
  padding: .6rem 3rem;
  align-self: center;
  margin-top: .5rem;
  border: none;
  border-radius: $radius-sm;
  cursor: pointer;
  color: $color-white;
}

.subscribe {
  background-color: $color-secondary;
}

.subscribed {
  background-color: $color-primary;
}
