<app-header></app-header>

<main class="container">
  <section class="themes">

    <article *ngFor="let theme of themes | async; trackBy: trackById" class="theme-card">
      <h2>{{ theme.name }}</h2>
      <p>{{ theme.description }}</p>

      <button *ngIf="!theme.subscribed" class="subscribed" mat-stroked-button (click)="subscribe(theme)">
        S'abonner
      </button>

      <button *ngIf="theme.subscribed" class="subscribe" mat-stroked-button>
        Déjà abonné
      </button>
    </article>

  </section>
</main>
