<app-header></app-header>

<main class="container">
    <section class="themes">
    <app-subscription
        *ngFor="let theme of themes$ | async; trackBy: trackById"
        [name]="theme.name"
        [disabled]="theme.subscribed"
        [description]="theme.description"
        [subscribed]="theme.subscribed"
        (subscribe)="subscribe(theme.id)"
    >
    </app-subscription>
    </section>
    <app-confirm-modal
    *ngIf="userSubscriptionService.showSubscribeModal$ | async"
    title="Confirmation"
    message="Êtes-vous sûr de vouloir vous abonner à ce sujet ?"
    (confirm)="userSubscriptionService.confirmSubscribe()"
    (cancel)="userSubscriptionService.cancelSubscribe()">
    </app-confirm-modal>
</main>