@import 'src/styles/variables';

.comment-section {
  margin-top: 2rem;
  border-top: 1px solid $color-black;

  h2 {
    margin-top: 2rem;
  }

  .title {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 16px;
  }
}

