@import 'src/styles/variables';

.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 12px 20px;
  border-radius: $radius-sm;
  color: $color-white;
  font-weight: 500;
  z-index: 1000;
}

.toast.error {
  background-color: $color-error;
}

.toast.success {
  background-color: $color-succes;
}
