
.comment {
  width: 80%;
  margin: 0 auto;
  display: inline-flex;
  justify-content: end;
  align-items: start;
  gap: 5rem;
  margin-bottom: 2rem;

  .username {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 4px;
  }

  .content {
    min-width: 200px;
    min-height: 2rem;
    padding: .5rem;
    font-size: 15px;
    border-radius: 16px;
    background-color: #EEEEEE;
  }
}

