@import 'src/styles/variables';

.btn {
    padding: 0.5rem 1rem;
    border-radius: $radius-sm;
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
    transition: all .3s ease;

    &.primary {
            border: 1px solid $color-primary;
            background-color: $color-primary;
            color: $color-white;
        &:hover {
            background-color: $color-white;
            color: $color-primary;
            border-color: $color-primary;
        }
    }

    &.secondary {
            border: 1px solid $color-black;
            background-color: $color-white;
            color: $color-black;
        &:hover {
            background-color: $color-primary;
            color: $color-white;
            border-color: $color-primary;
        }
    }

    &.disabled, &[disabled] {
        pointer-events: none;
        cursor: not-allowed;
    }
}
