@import 'src/styles/variables';

.account-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;

  h2 {
    text-align: center;
    margin-bottom: 1rem;
  }

  .profile-section {
    width: 300px;
  }

  .subscriptions-section > div {
    display: inline-flex;
    justify-content: space-between;
    gap: 2rem;
  }

  .profile-section,
  .subscriptions-section {
    margin-bottom: 2rem;
    padding: 1rem;
  }



  .subscription {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 1.5rem;
    padding: 0.8rem;
    max-width: 400px;
    border-radius: $radius-sm;
    background-color: $color-grey-second;

    h3 {
      margin: 0 0 0.3rem 0;
      font-weight: 500;
    }

    p {
      margin: 0 0 0.5rem 0;
      font-size: 0.9rem;
      color: #555;
    }

    app-button {
      display: inline-block;
      align-self: center;
    }
  }

  app-button.primary {
    margin-top: 1rem;
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  hr {
    margin-bottom: 2rem;
    width: 100%;
    border-color: $color-black;
  }
}
