@import 'src/styles/variables';

.account-container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 { text-align: center;  margin-bottom: 1rem; }
  .profile-section { width: 350px; margin-top: 0; }

  .profile-section,
  .subscriptions-section {
    margin-bottom: 2rem;
    padding: 1rem;
  }

  app-button.primary {
    margin-top: 1rem;
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }

  hr { width: 100%; }
}

@media screen and (max-width: $bp-small) {
  .account-container {
    .profile-section {
      width: 250px;
      padding: 0;
    }
  }
}