@import 'src/styles/variables';

.post-create-container {
  position: relative;
  max-width: 500px;
  margin: 2rem auto;
  text-align: center;
}

@media screen and (max-width: $bp-small) {
    .post-create-container {
        margin: 2rem;
    }
}
