$color-alert: #A40F0F;
$color-error: #e74c3c;
$color-succes: #2ecc71;
$color-black: #000;
$color-white: #fff;
$color-grey: #D9D9D9;
$color-grey-second: #F5F5F5;
$color-grey-third: #e0e0e0;
$color-grey-fourth: #ccc;
$color-primary: #7763C5;

$radius-sm: 8px;
$radius-md: 16px;

$bp-extra-small: 480px;
$bp-small: 640px;
$bp-mobile: 880px;
$bp-tablet: 1024px;
$bp-medium: 1280px;
$bp-large: 1400px;