$color-alert: #A40F0F;
$color-error: #e74c3c;
$color-succes: #2ecc71;
$color-black: #000;
$color-white: #fff;
$color-white-second: #F1F1F1;
$color-grey: #D9D9D9;
$color-grey-second: #F5F5F5;
$color-grey-third: #555;
$color-grey-fourth: #e0e0e0;
$color-grey-fifth: #ccc;
$color-primary: #7763C5;
$color-secondary: #e0e0e0;

$radius-sm: 8px;
$radius-md: 12px;
$radius-lg: 24px;

$bp-extra-small: 480px;
$bp-small: 860px;
$bp-mobile: 860px;
$bp-tablet: 1024px;
$bp-medium: 1280px;
$bp-large: 1400px;