@import 'src/styles/variables';

html {
    background-color: $color-white;
}

body {
    height: 100%;
    margin: 0 auto;
    max-width: $bp-large;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}