<mat-toolbar class="header">

  <div class="header-left">
    <a routerLink="/">
      <img src="/assets/logo_p6.png" alt="logo" />
    </a>
  </div>

  <div class="header-right">

    <button
      class="burger"
      mat-icon-button
      (click)="toggleBurger()"
    >
      <img src="/assets/icones/icon_menu.png" alt="menu" />
    </button>

    <nav class="menu" [class.mobile-open]="burgerOpen">

      <button mat-button (click)="logout()">
        Se déconnecter
      </button>

      <a mat-button routerLink="/" >
        Articles
      </a>

      <a mat-button routerLink="/themes">
        Thèmes
      </a>

      <a
        class="user"
        routerLink="/profil"
      >
        <img src="/assets/icones/icon_user.png" alt="account" />
      </a>

    </nav>

    <div
      class="overlay"
      *ngIf="burgerOpen"
      (click)="toggleBurger()"
    ></div>

  </div>
</mat-toolbar>
