@import 'src/styles/variables';

.header {
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-white;
  border-bottom: 1px solid $color-black;
  padding: 0 16px;

  .header-left a {
    display: flex;
  }

  .header-left img {
    max-height: 80px;
  }

  .header-right {
    display: flex;
    align-items: center;
    position: relative;

    .burger {
      display: none;
      border: none;
      background: transparent;
      cursor: pointer;

      img {
        width: 28px;
        height: 22px;
      }
    }

    .menu {
      display: flex;
      align-items: center;

      a { color: $color-black; }

      a, button {
        margin-right: 16px;
        font-weight: 500;
        text-decoration: none;
      }

      button { color: $color-alert; }

      .user {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 48px;
        width: 48px;
        background-color: $color-grey;
        border-radius: 50%;
        img { max-width: 40px; }
      }
    }

    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0,0,0,0.4);
      z-index: 999;
    }
  }
}

@media screen and (max-width: 880px) {
  .header {
    .header-right {
      .menu {
        flex-direction: column;
        align-items: end;
        position: fixed;
        top: 0;
        right: -75%;
        width: 60%;
        height: 97vh;
        background: $color-white;
        padding: 16px;
        box-shadow: -2px 0 8px rgba(0,0,0,0.3);
        transition: right 0.3s ease;
        z-index: 1000;

        a, button { margin: .5rem 0; }

        &.mobile-open { right: 0; }

        .user {
          position: absolute;
          bottom: 20px;
          margin-left: 0;
        }
      }

      .burger { display: flex; }
    }
  }
}
