.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .buttons {
    display: inline-flex;
    gap: 2rem;
  }
}

@media screen and (max-width: 880px) {
  .center {
    img {
      max-width: 500px;
    }
  }
}

@media screen and (max-width: 640px) {
  .center {
    img {
      max-width: 300px;
    }
  }
}
